{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" defer></script>
    <script type="text/javascript" src="{% static 'notefy_site/js/base.js' %}" defer></script>
    {% block static_content %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'notefy_site/css/base.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <header class="header">
        <a href="/">
            <img src="{% static 'notefy_site/images/logo.svg' %}" class="header__logo" alt="A logo of the website"/>
        </a>
        <nav class="navigation">
            {% if user.is_authenticated %}
                <div class="userDropdown">
                    <p class="userDropdown__actionBlock">
                        <span class="userDropdown__username">{{user.username}}</span>
                        <img class="userDropDown__chevronIcon" src="{% static 'notefy_site/images/chevron_down.svg'%}">
                    </p>
                    <ul class="userDropdown__content">
                        <li class="userDropdown__option">
                            <a href="/notes" class="userDropdown__optionName">My Notes</a>
                        </li>
                        <li class="userDropdown__option">
                            <a href="#" class="userDropdown__optionName">Account</a>
                        </li>
                        <li class="userDropdown__option">
                            <a href="/logout" class="userDropdown__optionName">Sign Out</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a href="/login" class="button button--transparent">Login</a>
                <a href="/signup" class="button button--transparent">Signup</a>
            {% endif %}
        </nav>
    </header>
    {% block content%}
    {% endblock %}
</body>
</html>