* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Poppins', sans-serif
}

input , button{
    font-family:inherit ;
}

.header{
    padding: 1.5rem 8rem;
    display:flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 0.2rem solid #f1f1f1;
    position: sticky;
    top:0;
    left:0;
    width:100%;
}

.header__logo{
    height:2rem;
    width:auto;
}

.navigation{
    display:flex;
    align-items: center;
    column-gap: 3rem;
}

.button{
    font-weight:600;
    border-radius: 0.25rem;
}

.button--transparent{
    border: 0.2rem solid #02B574;
    color: #02B574;
    text-decoration: none;
    font-size:1.2rem;
    padding:0.5rem 1rem;
}

.button--solid{
    background-color: #02B574;
    color:white;
    text-decoration: none;
    padding:0.5rem 4rem;
    border:none;
    cursor: pointer;
}

.button--small{
    font-size: 1rem;
}

.button--large{
    font-size: 2rem;
}