.signup, .login{
    display: flex;
    align-items: center;
    justify-content: center;
    height:80vh;
    width:100%;
}

.signup__content, .login__content{
    padding:1rem 2rem;
    box-shadow: 0 0 0.25rem  #AAAAAA;
    width:30%;
    border-radius: 0.5rem;
}

.signup__title, .login__title {
    text-align: center;
    font-size:2rem
}

.signup__form, .login__form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.formGroup{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.formLabel{
    font-weight:600;
}

.formControl{
    padding:0.5rem 1rem;
    border-radius: 0.25rem;
    border:none;
    box-shadow: 0 0 2px 0 inset #AAAAAA;
    font-size: 1rem;
}

.signup__redirectMsg, .login__redirectMsg{
    margin-top:0.5rem;
    text-align: center;
}